
.artheme_default {
    --bg-all-color: #f8f8f8;
    --bg-pad-color: #e0e0e0;
    --bg-dun-color: #c0c0c0;
    --bg-ppp-color: #f0f0f0;
    
    --u-cm-color: white;
    --u-ch-color: orange;
    --u-fw-color: green;
    --u-sw-color: yellow;
    --u-bw-color: red;
    --u-bl-color: blue;
    
    --bt-pad-color: #f0f0f0;
}

/*==========*/

.ars_sqpd_mtab {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.ars_sqpd_tseq {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 33%;
}

.ars_sqpd_unit {
    position: relative;
    width: 80%;
    height: 0;
    left: 10%;
    padding-bottom: 80%;
}

.ars_rdbox {
    border-radius: 5px;
}

/*==========*/

.ars_pad_console {
    display: table;
    width: 90%;
    padding: 5%;
}

.ars_pad_cell {
    display: table-cell;
}

.ars_pdcl_info {
    width: 80%;
}

#ar_tokleft {
    height: 50px;
}

#ar_score_frame {
    position: relative;
    bottom: 0px;
    overflow: hidden;
    height: 100px;
}

.ars_score_text {
    white-space: pre-line;
}

#ar_score {
    position: absolute;
    bottom: 0px;
}

.ars_pad_button {
    border: 2px solid;
    width: 100%;
    height: 50px;
    background-color: var(--bt-pad-color);
}

/*==========*/

.ars_board {
    position: relative;
    width: 60%;
    left: 20%;
}

.ars_sect {
    
}

#ar_pad {
    background-color: var(--bg-pad-color);
    margin-bottom: 10px;
}

#ar_tab_main {
    background-color: var(--bg-dun-color);
}

.ars_tab {
    background-color: var(--bg-dun-color);
    padding: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*==========*/

.ars_unit {
    border: 2px solid;
    border-color: var(--bg-all-color);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--u-cm-color);
}

.ars_utyp_char{
    background-color: var(--u-ch-color);
}

.ars_utyp_block{
    background-color: var(--u-bl-color);
}

.ars_utyp_forward {
    background-color: var(--u-fw-color);
}

.ars_utyp_backward {
    background-color: var(--u-bw-color);
}

.ars_utyp_sideward {
    background-color: var(--u-sw-color);
}

/*==========*/

.ars_popup {
    width: 450;
    background-color: var(--bg-ppp-color);
}

.ars_popup_frame {
    padding-bottom: 30px;
}

.ars_popup_button_frame {
    display: table;
    position: absolute;
    bottom: 0px;
}

.ars_popup_button_cell {
    display: table-cell;
}

/*==========*/

.arps_global {
    font-size: 36px;
    font-weight: 400;
}

.arps_win {
    background-color: var(--bg-all-color);
    width: 500px;
}

.arps_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arps_page_frame {
    width: 500px;
}
