
.ars_pad_console {
    display: table;
}

.ars_tokleft {
    display: table-cell;
    width: 135px;
    height: 30px;
}

.ars_pad_button {
    display: table-cell;
    border: 1px solid;
    width: 30px;
    height: 30px;
}

.ars_unit {
    border: 1px solid;
    position: relative;
    width: 50px;
    height: 50px;
}

.ars_utyp_char{
    background-color: orange;
}

.ars_utyp_done{
    background-color: blue;
}

.ars_utyp_forward {
    background-color: green;
}

.ars_utyp_backward {
    background-color: red;
}

.ars_utyp_sideward {
    background-color: yellow;
}
