
.ars_pad_console {
    display: table;
}

.ars_pad_cell {
    display: table-cell;
}

.ars_pad_info {
    width: 135px;
}

#ar_score_frame {
    position: relative;
    bottom: 0px;
    overflow: hidden;
    height: 100px;
}

.ars_score_text {
    white-space: pre-line;
}

#ar_score {
    position: absolute;
    bottom: 0px;
}

#ar_tokleft {
    height: 30px;
}

.ars_pad_button {
    border: 1px solid;
    width: 30px;
    height: 30px;
}

.ars_unit {
    border: 1px solid;
    position: relative;
    width: 50px;
    height: 50px;
}

.ars_utyp_char{
    background-color: orange;
}

.ars_utyp_block{
    background-color: blue;
}

.ars_utyp_forward {
    background-color: green;
}

.ars_utyp_backward {
    background-color: red;
}

.ars_utyp_sideward {
    background-color: yellow;
}

.ars_popup {
    width: 300px;
}

.ars_popup_frame {
    margin-bottom: 30px;
}

.ars_popup_button_frame {
    display: table;
    position: absolute;
    bottom: 0px;
}

.ars_popup_button_cell {
    display: table-cell;
}

.arps_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
